* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%
}

body {
    background-color: black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    display: flex;
    flex: wrap;
    flex-grow: 1.5;
    flex-shrink: 1.5;
    padding-top: 20px;
    height: 97px;
    border: solid 2px black;
    background-color: white;
    border-radius: 15px;
    justify-content: center;
}

.current-day {
    display: flex;
    flex: wrap;
    flex-grow: 1.5;
    flex-shrink: 1.5;
    justify-content: center;
    border: solid 2px black;
    border-radius: 15px;
    height: 339.5px;
    padding-top: 20px;
    background-color: rgb(79, 79, 244);
}

.day {
    font-size: 20px;
}

.dayOfWeek {
    padding-right: 50px;
}

.day-name {
    font-size: 20px;
}

 .cd-left {
    padding-right: 50px;
}

.cd-right {
    padding-left: 20px;
}

.day {
    text-decoration: underline;
}

.day-name {
    text-decoration: underline;
}

.weekForecast {
    display: flex;
    flex-grow: 1.5;
    flex-shrink: 1.5;
    flex: wrap;
    justify-content: center;
    height: 339.5px;
    padding-top: 20px;
    border: solid 2px black;
    border-radius: 15px;
    background-color: grey;
}

button {
    cursor: pointer;
    text: white;
}

button:hover {
    text-decoration: underline;
}

#cityInput {
    border: solid 2px black;
}
